.faq-content-top{
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
    margin: 5rem auto;
    max-width: 40rem;
    user-select: none;
}

.faq-content-bottom{
    margin: 5rem auto;
    justify-content: center;
    align-items: center;
    width: 50rem;
    user-select: none;
    cursor: text;
}

.accordion-item button{
    width: 50rem;
    border: none;
}

.accordion-item{
    flex-direction: column;
    border: 1px solid #6a6975;
}

