.Footer {
  margin: auto;
  background-color: #f0eeee;
  width: 100%;
  height: 32vh;
}

.footer-content {
  width: 80%;
  margin: auto;
  gap: 8rem;
  color: #010103;
  display: grid;
  grid-template-columns: 27fr 21fr 21fr 21fr;
  justify-content: center;
  align-items: center;
  
}
ul{
  padding-left: 0 !important;
}

.footer-content-box {
  list-style: none;
  margin-top: 20px;
  height: 30vh;
  width: 100%;
  user-select: none;
}

.footer-content__4{
  text-align: center;
}

.footer-content__1 li:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-content__1 li:nth-child(2) {
  color: #706f7b;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.footer-content__1 li:nth-child(3),
.footer-content__1 li:nth-child(4) {
  font-family: Rubik, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-decoration: none;
}

.footer-content__1 li a {
  color: #010103;
  text-decoration: none;
  transition: all 0.2s;
}

.footer-content__1 li a:hover {
  color: #c21fc2;
  text-decoration: none;
  transition: all 0.2s;
}

.footer-content__2 {
  list-style: none;
}

.footer-content__2 li:first-child {
  cursor: auto;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-content__2 li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.footer-content__2 a {
  color: #010103;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.footer-content__2 a:hover {
  color: #c21fc2;
  text-decoration: none;
  transition: all 0.2s;
}

.footer-content__2 input {
  background-color: #ececec;
  border-color: transparent;
  border: 1px solid #706f7b;
  border-radius: 5px;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 1rem;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}

.submit-email {
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  width: 100%;
  color: white;
  border-radius: 3px;
  background-color: #d938d9;
  box-shadow: 0 10px 15px 0 rgba(61, 27, 20, 0.35);
}

.submit-email:hover {
  background-color: #c500c5;
  cursor: pointer;
  color: white;
  box-shadow: 5px 10px 20px 5px rgba(61, 27, 20, 0.35);
}
