* {
  margin: 0;
  padding: 0;
}
#Home {
  height: 87vh;
  max-width: 70%;  
}
.Hero-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.Hero-left {
  justify-content: center;
  flex-direction: column;
  width: 45%;
  @media(max-width: 900px){
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
  @media(max-width: 300px){
    margin-bottom: 0;
  }
}
.Hero-left h5 {
  font-size: 1.5rem;
  @media(max-width: 650px){
    font-size: 1.2rem;
  }
}
.Hero-left h1 {
  font-size: 3rem;
  @media(max-width: 650px){
    font-size: 2rem;
  }
}
.Hero-left h1 span {
  color: #af1aaf;
}
.Hero-left p {
  color: #706f7b;
  font-weight: 500;
  font-size: 1rem;
}
.Hero-left h5,
.Hero-left h1,
.Hero-left p {
  padding: 5px;
  @media(max-width:600px){
    padding: 2px;
  }
}
.Hero-right {
  width: 50%;
  margin-left: 25px;
  flex-direction: column;
  justify-content: center;
  @media(max-width: 900px){
    visibility: hidden;
    width: 0%;
  }
}
.btn-hero{
  @media(max-width:900px){
    margin: auto;
  }
  @media(max-width:525px){
    flex-direction: column;
  }
}
.btn-Hero-1 {
  width: 12rem;
  height: 4rem;
  color: white;
  border-radius: 3px;
  background-color: #c21fc2;
  border: 2px solid #c21fc2;
  @media(max-width:650px){
width: 200px;
height: 50px;
font-size: 1rem;
  }
}
.btn-Hero-1:hover {
  background-color: #af1aaf;
  box-shadow: 0 10px 15px 0 rgba(61, 27, 20, 0.35);
  transition: ease-in 0.1s;
}
.btn-Hero-2 {
  border: 2px solid black;
  width: 12rem;
  height: 4rem;
  color: white;
  border-radius: 2.5px;
  background-color: black;
  stroke: white;
  @media(max-width:650px){
    width: 200px;
    height: 50px;
    font-size: 1rem;
      }
      @media(max-width:525px){
        margin-top: 5px;
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
}
.btn-Hero-2:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
  fill: none;
  stroke: black;
  transition: ease-in 0.3s;
}
