
.icons-navbar {
  font-weight: 700;
  list-style: none;
  gap: 2rem;
}
.links-nav {
  padding: 4px 6px;
  border-radius: 10px;
}
.links-nav:hover {
  background-color: rgb(217, 56, 217);
  cursor: pointer;
  transition: ease-in 0.15s;
}
.register-btn {
  padding: 0.7rem 2rem;
  color: white;
  border-radius: 3px;
  background-Color: #d938d9;
  box-shadow: 0 10px 15px 0 rgba(61, 27, 20, 0.35);
}
.sign-btn{
  padding: 1.5rem 1.5rem;
}
.register-btn:hover {
    background-Color: #c500c5;
  cursor: pointer;
  color: white;
  box-shadow: 5px 10px 20px 5px rgba(61, 27, 20, 0.35);
}

.sign-btn:hover {
  color: rgb(228, 0, 228);
  transition: ease-in 0.2s;
}
