
.pick-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  
}
.pick-container__car-content {
  display: flex;
  gap: 1rem;
  width: 100%;
  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 2rem;
  }
}
.pick-car img{
  
  @media (max-width: 1100px) {
    width: 400px;
      }
      @media(max-width: 800px){
        width: 280px;
        height: 300px;
        margin-top: 50px;
        }
}
.pick-box {
  display: flex;
  flex-direction: column;
  width: 27%;
  gap: 1rem;
  @media (max-width: 1100px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
.box-cars {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  width: 73%;
  margin: auto;
  @media(max-width: 650px){
    gap: 3rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
}
.pick-container__title {
    color: #000000;
    margin: 5rem auto;
    max-width: 30rem;
    text-align: center;
}
.pick-box button {
  background-color: #e9e9e9;
  border: none;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  width: 14vw;
  height: 5rem;
  text-align: center;
  transition: all 0.2s;
  @media(max-width: 650px){
    font-size: 0.9rem;
}
@media(max-width: 300px){
  font-size: 0.5rem;
  align-self: center;

}
}
.colored-button {
  background-color: #d938d9 !important;
  color: #fff;
}
.pick-description {
    width: 20rem;
    margin-left: 50px;
    @media(max-width: 650px){
      width: 66%;
    }
}
.pick-description__price {
    background-color: #d938d9;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    gap: 0.5rem;
    padding: 0.5rem 0;
    max-width: 19rem;
    white-space: nowrap;
    @media(max-width: 650px){
      width: 50vw;
      font-size: 0.8rem;
      }
    
}
.pick-description__table {
    display: grid;
    font-size: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    @media(max-width: 650px){
      width: 50vw;
      font-size: 0.8rem;
      }
}
.cta-btn {
    background-color: #bb23bb;
    box-shadow: 0 6px 16px 0 #1d1c1c;
    color: #fff;
    display: flex;
    font-family: Poppins,sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    justify-content: center;
    margin-top: 0.8rem;
    padding: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    width: 100%;
    @media(max-width: 650px){
      width: 50vw;
      font-size: 1rem;
      }
}
.pick-description__table__col {
    border-bottom: 2px solid #706f7b;
    border-left: 2px solid #706f7b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0.7rem 0.5rem;
    text-align: center;
}
.pick-description__table__col, .pick-description__table__col span:first-child {
    border-right: 2px solid #706f7b;
}
