.Plan-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}    

.Plan-content-bottom{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.Plan-content-bottom-card{
    width: 33%;
}

.Plan-content-bottom img{
    margin: 40px auto;
}
