.Plan-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}    
.Plan-content-bottom{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    @media(max-width: 650px){
        flex-direction: column;
    }

}
.Plan-content-bottom img{
    margin: 40px auto;
}