.Review-section {
  margin-top: 4rem;
  background-color: #f8f8f8;
  padding: 2rem 0;
}

.Review-content-top {
  flex-direction: column;
  text-align: center;
  margin: 5rem auto 2rem;
  max-width: 40rem;
}

.Review-content-top h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.Review-content-top h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.Review-content-top p {
  color: #706f7b;
  line-height: 1.2rem;
}

.Review-content-bottom {
  gap: 3rem;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}

.Review-content-profile-card {
  background-color: white;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.08);
  padding: 3rem 4rem;
  position: relative;
  width: 54rem;
}

.quotes-icon {
  color: #c21fc2;
}

.Review-content-profile-card p {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Review-bottom-profile {
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  line-height: 0.8;
}

.Review-bottom-profile img {
  border-radius: 50%;
  height: 5rem;
  width: 5.5rem;
}

.Review-bottom-profile span h4 {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Review-bottom-profile span p {
  font-size: 1rem;
  font-weight: 600;
  color: #444444;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
